body {
    margin: 40px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Main content */
.main {
    padding: 40px;
}
.main .page-header {
    margin-top: 0;
}

.top-nav {
    display: none;
}

/* Title Bar */
.title-bar {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px 0 0 25px;
    background: url(../icon/icon-19.png) no-repeat 5px 10px;
}
.title {
    font-size:20px;
    float: left;
}

/* 选项表格设定 */
table.table-site tr > td:nth-child(1) {
    width: 12%;
}


table.tv  tr > td:nth-child(1) {
    padding: 20px 20px 20px 20px;
    width: 12%;
    display: table-cell;
}
table.tv  tr > td:nth-child(2) {
    display: table-cell;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 120px;
    }

    .dl-horizontal dd {
        margin-left: 130px
    }
}

/* 为可拖动的条目应用可移动光标类型 */
.sortableList > .list-group-item {cursor: move}

/* 为正在被拖动的条目应用半透明外观 */
.sortableList > .list-group-item.dragging {
    visibility: visible;
    opacity: .3;
}


/*  复制按钮设置 */
.zero-clipboard {
    position: relative;
}
.btn-clipboard {
    position: absolute;
    top: 8px;
    right: 21px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}